

.form-group {
    margin-bottom: 5px;
}

.drawing {
    height: 90vh;
    width: 100%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.btn-black {
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
    color: #FFFFFF;
    background-color: #333;
    border-color: #000000;
}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
    background-image: none;
}

.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
    background-color: #000000;
    border-color: #000000;
}

.btn-black .badge {
    color: #000000;
    background-color: #FFFFFF;
}

.axisNone line {
    stroke: #AAAAAA;
}

.axisNone path {
    stroke: none;
}

.axisNone text {
    fill: #AAAAAA;
}

.grid line {
    stroke: #AAAAAA;
    stroke-opacity: 0.7;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

/* Notes.css */

[id^="notes-"] {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1[id^="notes-"] {
    font-size: 2em;
}

h2[id^="notes-"] {
    font-size: 1.5em;
}

h3[id^="notes-"] {
    font-size: 1.17em;
}

h4[id^="notes-"] {
    font-size: 1.12em;
}

h5[id^="notes-"] {
    font-size: .83em;
}

h6[id^="notes-"] {
    font-size: .75em;
}

.notes pre {
    font-size: 1em;
}

.notes ol, ul {
    margin: 0px;
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
    padding: 0em 0em 0em 2em;
}

.notes p {
    margin: 0px;
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
    padding: 0px;
}

.notes code {
    margin-left: -2px;
    padding: .15em .15em;
}
