<!--<nav class="navbar navbar-default">-->
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WSV Infrastructure</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="applications.html">Applications</a></li>
            <li><a href="servers.html">Servers</a></li>
            <li><a href="vips.html">VIPs</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Infrastructure
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <!--<li><a href="lb2.html?lb=wsv.sit.lb">LB2 WSV SIT & DEV</a></li>-->
                    <li><a href="infra.html?cluster=AppGuard&env=SIT">AppGuard SIT Infrastructure</a></li>
                    <li><a href="infra.html?cluster=AppGuard&env=UAT">AppGuard UAT Infrastructure</a></li>
                    <li><a href="infra.html?cluster=AppGuard&env=PROD">AppGuard PROD Infrastructure</a></li>
                    <li class="divider"></li>
                    <li><a href="infra.html?cluster=WSV&env=SIT">WSV SIT Infrastructure</a></li>
                    <li><a href="infra.html?cluster=WSV&env=UAT">WSV UAT Infrastructure</a></li>
                    <li><a href="infra.html?cluster=WSV&env=PROD">WSV PROD Infrastructure</a></li>
                    <li class="divider"></li>
                    <li><a href="infra.html?cluster=MOP&env=SIT">MOP SIT Infrastructure</a></li>
                    <li><a href="infra.html?cluster=MOP&env=UAT">MOP UAT Infrastructure</a></li>
                    <li><a href="infra.html?cluster=MOP&env=PROD">MOP PROD Infrastructure</a></li>
                    <li class="divider"></li>
                    <li><a href="infra.html?cluster=MISC&env=SIT">MISC SIT Infrastructure</a></li>
                    <li><a href="infra.html?cluster=MISC&env=UAT">MISC UAT Infrastructure</a></li>
                    <li><a href="infra.html?cluster=MISC&env=PROD">MISC PROD Infrastructure</a></li>
                    <li class="divider"></li>
                    <li><a href="infra.html?cluster=Telecash&env=DEV">Telecash DEV Infrastructure</a></li>
                    <li><a href="infra.html?cluster=Telecash&env=UAT">Telecash UAT Infrastructure</a></li>
                    <li><a href="infra.html?cluster=Telecash&env=PROD">Telecash PROD Infrastructure</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Load balancers
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <!--<li><a href="lb2.html?lb=wsv.sit.lb">LB2 WSV SIT & DEV</a></li>-->
                    <li><a href="lb.html?lb=ag.sit.lb">AppGuard SIT</a></li>
                    <li><a href="lb.html?lb=ag.uat.lb">AppGuard UAT</a></li>
                    <li><a href="lb.html?lb=ag.prod.lb">AppGuard PROD</a></li>
                    <li class="divider"></li>
                    <li><a href="lb.html?lb=dwh.prod.lb">DWH online PROD</a></li>
                    <li class="divider"></li>
                    <li><a href="lb.html?lb=wsv.sit.lb">WSV SIT & DEV</a></li>
                    <li><a href="lb.html?lb=wsv.uat.lb">WSV UAT</a></li>
                    <li><a href="lb.html?lb=wsv.prod.internal.lb">WSV PROD - Internal access</a></li>
                    <li><a href="lb.html?lb=wsv.prod.clientnet.lb">WSV PROD - ClientNet access</a></li>
                    <li><a href="lb.html?lb=wsv.prod.external.lb">WSV PROD - Internet access</a></li>
                    <li class="divider"></li>
                    <li><a href="lb.html?lb=mop.sit.lb">MOP & Tokenizer SIT</a></li>
                    <li><a href="lb.html?lb=mop.uat.lb">MOP & Tokenizer UAT</a></li>
                    <li><a href="lb.html?lb=mop.prod.lb">MOP PROD</a></li>
                    <li><a href="lb.html?lb=mop-tok.prod.lb">Tokenizer PROD</a></li>
                    <li class="divider"></li>
                    <li><a href="lb.html?lb=misc.sit.lb">MISC SIT</a></li>
                    <li><a href="lb.html?lb=misc.uat.lb">MISC UAT</a></li>
                    <li><a href="lb.html?lb=misc.prod.lb">MISC PROD</a></li>
                    <li class="divider"></li>
                    <li><a href="lb.html?lb=telecash.sit.lb">Telecash SIT</a></li>
                    <li><a href="lb.html?lb=telecash.uat.lb">Telecash UAT</a></li>
                    <li><a href="lb.html?lb=telecash.prod.lb">Telecash PROD</a></li>
                    <li class="divider"></li>
                    <!--<li><a href="lb/wsv_lb_setup.html">WSV PROD</a></li>-->
                    <!--<li><a href="lb/wsv_test_lb_setup.html">WSV TEST (DEV, SIT & UAT)</a></li>-->
                    <!--<li><a href="lb/mop_lb_setup.html">MOP PROD</a></li>-->
                    <li><a href="lb/eWas_PROD_LB_setup.html">eWas PROD</a></li>
                    <li><a href="lb/eWas_UAT_LB_setup.html">eWas UAT</a></li>
                    <li class="divider"></li>
                    <li><a href="lb-table.html">Load balancer data</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">JIRA
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <!--<li><a href="lb2.html?lb=wsv.sit.lb">LB2 WSV SIT & DEV</a></li>-->
                    <li><a href="jira.html?ft=FT-457">MOP TLS Migration</a></li>
                    <li><a href="jira.html?ft=FT-458">WSV TLS migration</a></li>
                    <li><a href="jira.html?ft=FT-460">MISC TLS migration</a></li>
                    <li class="divider"></li>
                    <li><a href="jira.html?ft=FT-1335">Monitoring and tooling</a></li>
                    <li class="divider"></li>
                    <li><a href="jira.html?ft=FT-831">Edeka</a></li>
                    <li><a href="jira.html?ft=FT-1326">OpenAM implementation</a></li>
                    <li class="divider"></li>

                    <li><a href="jira.html?ft=FT-1604">eSolutions - FDD Web applications - 2018 KLO tasks</a></li>
                    <li><a href="jira.html?ft=FT-1607">eSolutions - IAM and SSO 2018 KLO tasks (BV/BS, WebLogin, AppGuard)</a></li>
                    <li><a href="jira.html?ft=FT-1608">eSolutions - FDD Web applications - 2018 EMAXS release deliveries</a></li>

                </ul>
            </li>

        </ul>
    </div>
<!--</nav>-->

<script>
    // select the active menu item - requires jquery
    // It gets the full current URL of the displayed page and compares it to the full anchor href URL.
    // If they are the same, set anchor (li) parent as active. And do this only if anchor href value is not "#",
    $(document).ready(function () {
        $(function(){
            var current_page_URL = location.href;

            $( "a" ).each(function() {

                if ($(this).attr("href") !== "#") {

                    var target_URL = $(this).prop("href");

                    if (target_URL == current_page_URL) {
                        $('nav a').parents('li, ul').removeClass('active');
                        $(this).parent('li').addClass('active');

                        return false;
                    }
                }
            }); }); });
</script>