table {


    position: absolute;
    background-color: #ededed;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;


}

th, td {
    padding: 5px;
    text-align: center;
    border-radius: 25px;
}

tr:hover {
    background-color: #efefef;
    transition: background .5s ease;


}

h1 {
    text-align: center;
    font: "Calibri";
    text-shadow: 1px 1px lightgray;
    border-bottom: 1px solid grey;

}

a:link {
    color: Black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

.rounded-corner-grey {
    border: double 10px transparent;
    border-radius: 25px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top, grey, white);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.Description{
    text-align: left;
    background-color: #e6e6e6;
    border-radius: 10px;



}
