/**************************************************************
 * Loader component styling
 **************************************************************/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-bottom: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;

    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**************************************************************
 * Mermaid graph styling
 **************************************************************/
.label {
    font-size: 14px;
    font-weight: normal;
}
.mermaid {
    text-align: center;
    /*width:90%;*/
    /*height: 500px;*/
    /*border: solid;*/
}

/**************************************************************
 * Title - Name, URL, IP
 **************************************************************/

.node-title {
    padding: 5px 5px 5px 5px;
    /*display: inline-block;*/
    /*border: solid;*/
}

x-url > a, x-ip > a {
    color: black !important;
    font-weight: bold;
}

/**************************************************************
 * Comments
 **************************************************************/

.comment {
    padding: 5px 5px 5px 5px;
    font-size: 12px;
}


/**************************************************************
 * Contexts - styles used to display contexts of a web site
 **************************************************************/
.contexts {
    padding: 5px 5px 5px 5px;
    display: inline-block;
}

.contexts-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.contexts-links {
    text-align: left;
    font-size: 12px;
    /*color: black;*/
}

/**************************************************************
 * Icon styling
 **************************************************************/
.device-icon {
    /*border: solid;*/
    display: block;
    padding: 5px 5px 5px 5px;
}

.icon {
    /*display: grid;*/
    padding: 5px 5px 5px 5px;
}

/**************************************************************
 * Error / Warning styling
 **************************************************************/
.error-icon {
    color: #ffce37;
    font-size: 14px;
}

.error-label {
    background-color: rgba(255, 99, 71, 0.51);
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}

.error-node > rect {
    fill: tomato;
    stroke: #d1513a;
    stroke-width:2px;
}

.warning-icon {
    /*color: #8a6d3b;*/
    /*color: #f0ad4e;*/
    color: darkorange;
    font-size: 14px;
}

.warning-label {
    background-color: rgba(255, 183, 78, 0.70);
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}

.warning-node > rect {
    fill: #ffb74e;
    stroke: #eea236;
    /*stroke:#333;*/
    stroke-width:2px;
}

/**************************************************************
 * JBoss / Wildfly styling
 **************************************************************/
.jboss4 > rect {
    fill: #d2d2d2;
    stroke: #a1a1a1;
    stroke-width:2px;
}

.wildfly > rect {
    fill: white;
    stroke: #cfcfcf;
    stroke-width: 2px;
}

.load-balancer > rect {
    fill: none;
    stroke: #cfcfcf;
    stroke-width: 2px;
}

/**************************************************************
 * Load balancer info popup styling
 **************************************************************/

.popover{
    max-width:600px;
}

.popover-content {
    background-color: black;
    color: white;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
}

.lb-info {

}

.lb-info-heading {
    font-size: 13px;
    font-weight: bold;
    color: #cbcbcb;
    text-decoration: underline;
}

.lb-info-number {
    color: magenta;
    font-weight: bold;
}

.lb-info-text {
    color: #fcd125;
    font-weight: bold;
}

.lb-info-enabled {
    color: #3aee5b;
    font-weight: bold;
}

.lb-info-disabled {
    color: red;
    font-weight: bold;
}

/**************************************************************
 * Other node styles
 **************************************************************/
.modify > rect , .on-hold > rect {
    fill:yellow;
    stroke: #cbcb00;
    stroke-width:2px;
}

.on-hold > rect {
    /*fill:lightgray;*/
    fill-opacity:0.3;
    stroke:grey;
    stroke-dasharray:5,5;
    stroke-width:2px;
}

/*
* Duplicate class is used in cases where reference to original class would cause the graph
* to be unreadable, lines would be crossing too much, so a copy of a graph element is used.
*/
.duplicate > rect , .unused > rect {
    fill:whitesmoke;
    fill-opacity:0.5;
    stroke: #cbcbcb;
    stroke-dasharray:5,5;
    stroke-width:2px;
}

.node-label-duplicate, .node-label-unused {
    color:grey;
}

.node-label-duplicate > div > x-ip > a, .node-label-duplicate > div > x-url > a, .node-label-unused > div > x-ip > a, .node-label-unused > div > x-url > a{
    color:grey !important;
}

@media print {
    a[href]:after {
        content: none !important;
    }
}
